{% extends "base.html" %}

{% load leaflet_tags %}

{% load static %}

{% block js %}
{% leaflet_js %}
{% endblock %}

{% block css %}
{% leaflet_css %}
{% endblock %}

{% block content %}
<style>
    #map-detail {
        width: 100%;
        height: 100%;
    }

</style>

{% if messages %}
{% for message in messages %}
<div class="alert alert-success" role="alert">
    <p>{{ message }}</p>
</div>
{% endfor %}
{% endif %}


<br>
<div class="row">
    <a role="button" class="btn btn-success btn-lg" href="{% url 'imibio_tree_ecological_data:field_list' %}">
        <span class="align-middle">Lista de campos</span>
    </a>
    <a role="button" class="btn btn-warning btn-lg"
       href="{% url 'imibio_tree_ecological_data:field_edit' pk=object.pk %}">
        <span class="align-middle">Editar campo</span>
    </a>
</div>
<h2>Detalles del campo:</h2>
<div class="row">
    <div class="col-sm-4">
        <table class="table table-user-information">
            <tbody>
            <tr>
                <th class="text-right">Parcela permanente investigada</th>
                <td>{{ object.parcel_id }}</td>
            </tr>

            <tr>
                <th class="text-right">Coordinador(a)</th>
                <td>{{ object.coordinator }}</td>
            </tr>

            <tr>
                <th class="text-right">Staff</th>
                <td>{{ object.staff.all|join:", " }}</td>
            </tr>

            <tr>
                <th class="text-right">Fecha</th>
                <td>{{ object.date }}</td>
            </tr>

            <tr>
                <th class="text-right">Inicio</th>
                <td>{{ object.start_time }}</td>
            </tr>

            <tr>
                <th class="text-right">Fin</th>
                <td>{{ object.end_time }}</td>
            </tr>

            <tr>
                <th class="text-right">Temperatura</th>
                <td>{{ object.temperature }}</td>
            </tr>

            <tr>
                <th class="text-right">Humedad</th>
                <td>{{ object.humidity }}</td>
            </tr>

            </tbody>
        </table>

    </div>

    <div class="col-sm-8">
        <div id="map-detail">
            {% leaflet_map "map-detail" %}
        </div>
    </div>
</div>
<script>
      var dataurl = '{% url "imibio_tree_ecological_data:plot_detail_geojson" pk=object.parcel_id.pk %}';
      window.addEventListener("map:init", function (event) {
        var map = event.detail.map;
        // Download GeoJSON data with Ajax
        fetch(dataurl)
          .then(function(resp) {
            return resp.json();
          })
          .then(function(data) {
            L.geoJson(data, {
              onEachFeature: function onEachFeature(feature, layer) {
                var props = feature.properties.popup_content;
                layer.bindPopup(props);
                 map.fitBounds(layer.getBounds(), { padding: [200, 200] });
            }}).addTo(map);
          });
      });

</script>


{% endblock content %}