{% extends "base.html" %}
{% load crispy_forms_tags %}

{% load leaflet_tags %}

{% block content %}
{% leaflet_js plugins="forms" %}
{% leaflet_css plugins="forms" %}
<!-- todo configurar crispy para organizar los campos latitud longitud con mapa -->

<div class="jumbotron">
    <div class="container">
        <div class="container">
            <a role="button" class="btn btn-success btn-lg" href="{% url 'imibio_tree_ecological_data:plot_list' %}">
                <span class="align-middle">Volver</span>
            </a>
            <h2>Registro de Parcela Permanente de Investigación (PPI)</h2>
            {% if messages %}
            {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="alert alert-danger" role="alert">
                <p>{{ message }}</p>
            </div>
            {% else %}
            <div class="alert alert-success" role="alert">
                <p>{{ message }}</p>
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% for error in form.geom.errors %}
            <div class="alert alert-warning" role="alert">
                {{ error }}
            </div>
            {% endfor %}
            <div class="accordion" id="accordionExample">
                <form method="POST" action="." class="post-form">
                    {% csrf_token %}
                     {% crispy form %}


                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}