{% extends "base.html" %}
{% load crispy_forms_tags %}

{% load leaflet_tags %}

{% block content %}
{% leaflet_js plugins="forms" %}
{% leaflet_css plugins="forms" %}

<div class="jumbotron">
    <div class="container">
        <h2>Agregar datos ecológicos de species arbóreas</h2>
        {% if messages %}
        {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="alert alert-danger" role="alert">
            <p>{{ message }}</p>
        </div>
        {% else %}
        <div class="alert alert-success" role="alert">
            <p>{{ message }}</p>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% for error in form.geom.errors %}
        <div class="alert alert-warning" role="alert">
            {{ error }}
        </div>
        {% endfor %}
        <div class="accordion" id="accordionExample">
            <form method="POST" action="." class="post-form">
                {% csrf_token %}

                {{ form|crispy }}

                <button type="submit" class="btn btn-success">Guardar</button>

            </form>
        </div>
    </div>
</div>

{% endblock %}