{% extends "base.html" %}

{% load leaflet_tags %}

{% load static %}

{% block js %}
{% leaflet_js %}
{% endblock %}

{% block css %}
{% leaflet_css %}
{% endblock %}

{% block content %}
<style>
    #map-detail {
        width: 100%;
        height: 100%;
    }

</style>

{% if messages %}
{% for message in messages %}
<div class="alert alert-success" role="alert">
    <p>{{ message }}</p>
</div>
{% endfor %}
{% endif %}


<br>
<div class="row">
    <a role="button" class="btn btn-success btn-lg" href="{% url 'imibio_tree_ecological_data:tree_list' %}">
        <span class="align-middle">Lista de árboles</span>
    </a>
    <a role="button" class="btn btn-warning btn-lg"
       href="{% url 'imibio_tree_ecological_data:tree_edit' pk=object.pk %}">
        <span class="align-middle">Editar árbol</span>
    </a>
</div>
<div class="row">

</div>
<h2>Detalles del Árbol: {{ object.tree_id }}</h2>
<div class="row">
    <div class="col-sm-4">
        <table class="table table-user-information">
            <tbody>

            <tr>
                <th class="text-right">Campo de registro</th>
                <td>{{ object.field }}</td>
            </tr>

            <tr>
                <th class="text-right">Parcela Permanente</th>
                <td>{{ object.field.parcel_id }}</td>
            </tr>

            <tr>
                <th class="text-right">Sub Parcale</th>
                <td>{{ object.subplot }}</td>
            </tr>

            <tr>
                <th class="text-right">Numero del àrbol</th>
                <td>{{ object.tree_number }}</td>
            </tr>

            <tr>
                <th class="text-right">Nombre de la especie</th>
                <td>{{ object.specie }}</td>
            </tr>

            <tr>
                <th class="text-right">Observaciones</th>
                <td>{{ object.obs|linebreaks }}</td>

            </tr>

            <tr>
                <th class="text-right">Distancia eje Y</th>
                <td>{{ object.latitud }}</td>

            </tr>

            <tr>
                <th class="text-right">Distancia eje X</th>
                <td>{{ object.logitud }}</td>

            </tr>

            <tr>
                <th class="text-right">Posee material de herbario</th>
                <td>{{ object.has_herbarium|yesno:"sí,no" }}</td>

            </tr>

            {% if object.herbarium_info %}

            <tr>
                <th class="text-right">Información material de herbario</th>
                <td>{{ object.herbarium_info }}</td>

            </tr>

            {% endif %}

            <tr>
                <th class="text-right">fecha y hora de registro</th>
                <td>{{ object.created_at }}</td>

            </tr>
            </tbody>
        </table>

    </div>

    <div class="col-sm-8">
        <div id="map-detail">
            {% leaflet_map "map-detail" %}
        </div>
    </div>
</div>
<div class="row">
    <div class="jumbotron">
    <div class="col-fluid">
        <h2>Lista mediciones</h2>

    <table class='table table-striped'>
        <thead>
        <tr>
            <th>ID</th>
            <th>Individuo</th>
            <th>DAB</th>
            <th>DAP</th>
            <th>Altura</th>
        </tr>
        </thead>

        {% for measure in measurement_list %}
        <tr>
            <td>
                <a href="{{ measure.get_absolute_url }}">{{ measure }}</a>
            </td>
            <td>{{ measure.tree.specie }}</td>
            <td>{{ measure.dab }}</td>
            <td>{{ measure.dap }}</td>
            <td>{{ measure.tree_height }}</td>

        </tr>
        {% endfor %}
    </table>
    </div>
    </div>
</div>
<script>
    var dataurl = '{% url "imibio_tree_ecological_data:plot_detail_geojson" pk=object.field.parcel_id.pk %}';
      window.addEventListener("map:init", function (event) {
        var map = event.detail.map;
        // Download GeoJSON data with Ajax
        fetch(dataurl)
          .then(function(resp) {
            return resp.json();
          })
          .then(function(data) {
            L.geoJson(data, {
              onEachFeature: function onEachFeature(feature, layer) {
                var props = feature.properties.popup_content;
                layer.bindPopup(props);
                 map.fitBounds(layer.getBounds(), { maxZoom: 15 });
            }}).addTo(map);
          });
      });

      var TreeDataURL = '{% url "imibio_tree_ecological_data:Tree_detail_geojson" pk=object.pk %}';
      window.addEventListener("map:init", function (event) {
        var map = event.detail.map;
        fetch(TreeDataURL)
          .then(function(resp) {
            return resp.json();
          })
          .then(function(data) {
            L.geoJson(data, {
              onEachFeature: function onEachFeature(feature, layer) {
                var props = feature.properties.popup_content;
                layer.bindPopup(props);
            }}).addTo(map);
          });
      });


</script>


{% endblock content %}