{% extends "base.html" %}
{% block content %}
{% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
                <p>{{ message }}</p>
            </div>
        {% endfor %}
{% endif %}

<form method="post">
    <div class="container-sm">
        <div class="row">
            <div class="col">
                <div class="jumbotron">
                    <div class="col align-items-center text-center">
                        <img src="https://imibio.misiones.gob.ar/logocolorchico.png" style="height: 80px; width: auto;" alt="">
                        {% csrf_token %}
                        <br>
                        <br>
                        {{ form.as_p }}
                        <button class="w-50 btn btn-lg btn-primary" type="submit">Ingresar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock content %}
