{% extends "base.html" %}

{% block content %}

{% if messages %}
            {% for message in messages %}
                    <div class="alert alert-success" role="alert">
                        <p>{{ message }}</p>
                    </div>
            {% endfor %}
        {% endif %}

<br>
<a  role="button" class="btn navbar-btn btn-success" href="{% url 'imibio_tree_ecological_data:new' %}">Voltar</a>
<br>

<h1>Detalles de la ocorrencia: {{ occurrence.scientificName }}</h1>
<strong>id: {{ occurrence.pk }}</strong>
<div class="row">
<div class="col-sm-4">
    <table class = "table table-user-information">
        <tbody>
        <tr>

            <th class="text-right">Nombre scientifico</th>
            <td>{{ occurrence.scientificName }}</td>
        </tr>

            <th class="text-right">Id de la Ocurencia</th>
            <td>{{ occurrence.occurrenceID }}</td>
        </tr>

            <th class="text-right">Basis of record</th>
            <td>{{ occurrence.basisOfRecord }}</td>
        </tr>

            <th class="text-right">ID Institución</th>
            <td>{{ occurrence.institutionCode }}</td>
        </tr>

            <th class="text-right">ID Colección</th>
            <td>{{ occurrence.collectionCode }}</td>
        </tr>

            <th class="text-right">ID Catálogo</th>
            <td>{{ occurrence.catalogNumber }}</td>
        </tr>

            <th class="text-right">Reino</th>
            <td>{{ occurrence.kingdom }}</td>
        </tr>

            <th class="text-right">Phylum</th>
            <td>{{ occurrence.phylum }}</td>
        </tr>

            <th class="text-right">Clase</th>
            <td>{{ occurrence.clase }}</td>
        </tr>

            <th class="text-right">Orden</th>
            <td>{{ occurrence.order }}</td>
        </tr>

            <th class="text-right">Familia</th>
            <td>{{ occurrence.family }}</td>
        </tr>

            <th class="text-right">Genero</th>
            <td>{{ occurrence.genus }}</td>
        </tr>

            <th class="text-right">Epíteto</th>
            <td>{{ occurrence.specificEpithet }}</td>
        </tr>

            <th class="text-right">Epíteto infraespecífico</th>
            <td>{{ occurrence.infraspecificEpithet }}</td>
        </tr>

            <th class="text-right">Taxon rank</th>
            <td>{{ occurrence.taxonRank }}</td>
        </tr>

            <th class="text-right">Autor del nombre científico y año de publicación</th>
            <td>{{ occurrence.scientificNameAuthorship }}</td>
        </tr>

            <th class="text-right">Calificador de la identificación</th>
            <td>{{ occurrence.identificationQualifier }}</td>
        </tr>

            <th class="text-right">Colector</th>
            <td>{{ occurrence.recordedBy }}</td>
        </tr>

            <th class="text-right">Número de registro del colector</th>
            <td>{{ occurrence.recordNumber }}</td>
        </tr>

            <th class="text-right">Departamento</th>
            <td>{{ occurrence.county }}</td>
        </tr>

            <th class="text-right">Provincia o Estado</th>
            <td>{{ occurrence.stateProvince }}</td>
        </tr>

            <th class="text-right">Municipalidad</th>
            <td>{{ occurrence.municipality }}</td>
        </tr>

            <th class="text-right">Localidad</th>
            <td>{{ occurrence.locality }}</td>
        </tr>

            <th class="text-right">Longitude</th>
            <td>{{ occurrence.decimalLongitude }}</td>
        </tr>

            <th class="text-right">Latitude</th>
            <td>{{ occurrence.decimalLatitude }}</td>
        </tr>

            <th class="text-right">Incertidunbre de las coordenadas</th>
            <td>{{ occurrence.coordinateUncartaintyInMeters }}</td>
        </tr>

            <th class="text-right">Protocolo de georeferenciación</th>
            <td>{{ occurrence.georeferenceProtocol }}</td>
        </tr>

            <th class="text-right">Fuentes de georeferenciación</th>
            <td>{{ occurrence.georeferenceSources }}</td>
        </tr>

        </tbody>
    </table>
</div>
</div>
{% endblock content %}