{% extends 'base.html' %}

{% block content %}
<div class = "jumbotron">
    <div class = "container">
        <h2>Agregar publicación</h2>
        {% if messages %}
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="alert alert-danger" role="alert">
                        <p>{{ message }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}

            <div class="accordion" id="accordionExample">
            <form method="POST" action="." class="post-form">
              {% csrf_token %}
          <div class="card ">
            <div class="card-header" id="headingOne">
              <h3 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Datos de la publicación
                </button>
              </h3>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                  <p>
                      <label for="{{ form.DOI.id_for_label }}"> {{ form.DOI.label }} </label>
                      {% for error in form.DOI.errors %}
                        <div class="alert alert-warning" role="alert">
                            {{ error }}
                        </div>
                      {% endfor %}
                      {{ form.DOI }}
                  </p>
                  <p>
                      <label for="{{ form.ISBN.id_for_label }}"> {{ form.ISBN.label }} </label>
                      {% for error in form.ISBN.errors %}
                        <div class="alert alert-warning" role="alert">
                            {{ error }}
                        </div>
                      {% endfor %}
                      {{ form.ISBN }}
                  </p>
                  <p>
                      <label for="{{ form.title.id_for_label }}"> {{ form.title.label }} </label>
                      {% for error in form.title.errors %}
                        <div class="alert alert-warning" role="alert">
                            {{ error }}
                        </div>
                      {% endfor %}
                      {{ form.title }}
                  </p>
                  <p>
                      <label for="{{ form.author.id_for_label }}"> {{ form.author.label }} </label>
                      {% for error in form.author.errors %}
                        <div class="alert alert-warning" role="alert">
                            {{ error }}
                        </div>
                      {% endfor %}
                      {{ form.author }}
                  </p>
                  <p>
                      <label for="{{ form.publication_year.id_for_label }}"> {{ form.publication_year.label }} </label>
                      {% for error in form.publication_year.errors %}
                        <div class="alert alert-warning" role="alert">
                            {{ error }}
                        </div>
                      {% endfor %}
                      {{ form.publication_year }}
                  </p>
                  <p>
                      <label for="{{ form.subject.id_for_label }}"> {{ form.subject.label }} </label>
                      {% for error in form.subject.errors %}
                        <div class="alert alert-warning" role="alert">
                            {{ error }}
                        </div>
                      {% endfor %}
                      {{ form.subject }}
                  </p>
                  <p>
                      <label for="{{ form.ORCID.id_for_label }}"> {{ form.ORCID.label }} </label>
                      {% for error in form.ORCID.errors %}
                        <div class="alert alert-warning" role="alert">
                            {{ error }}
                        </div>
                      {% endfor %}
                      {{ form.ORCID }}
                  </p>
                  <p>
                      <label for="{{ form.URL.id_for_label }}"> {{ form.URL.label }} </label>
                      {% for error in form.URL.errors %}
                        <div class="alert alert-warning" role="alert">
                            {{ error }}
                        </div>
                      {% endfor %}
                      {{ form.URL }}
                  </p>
                  <p>
                      <label for="{{ form.observations.id_for_label }}"> {{ form.observations.label }} </label>

                      {% for error in form.URL.errors %}
                        <div class="alert alert-warning" role="alert">
                            {{ error }}
                        </div>
                      {% endfor %}
                      {{ form.observations }}
                  </p>

              </div>
            </div>
          </div>


            <br><button type="submit" class="btn btn-success">Guardar</button>



        </form>
    </div>
</div>
</div>
{% endblock %}