{% extends "base.html" %}

{% block content %}
<div class="col-md-8">
    {% if user.is_authenticated %}
    {% if messages %}
            {% for message in messages %}
                    <div class="alert alert-success" role="alert">
                        <br>
                        <p>{{ message }}</p>
                    </div>
            {% endfor %}
        {% endif %}
    <br>
<div class="row">
    <a  role="button" class="btn navbar-btn btn-success btn-lg" href="{% url 'bioblitz:project_detail' pk=project_pk %}">
        <span class="align-middle">Volver</span></a>
        <h1>Lista observaciones</h1>
</div>
        {% if observations %}
            <table class = 'table table-striped'>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Quality grade</th>
                    <th>created_at</th>
                    <th>Nombre</th>
                    <th>iconic_taxon_name</th>
                </tr>
                </thead>

                {% for observation in observations %}
                <tr>
                    <td>
                        <a href="{{ observation.get_absolute_url }}">{{ observation.obs_id }}</a>
                    </td>
                    <td>{{ observation.quality_grade }}</td>
                    <td>{{ observation.created_at }}</td>
                    <td>{{ observation.name }}</td>
                    <td>{{ observation.iconic_taxon_name }}</td>
                </tr>
                {% endfor %}
            </table>

        {% else %}
            <p class="alert alert-warning">
            <i class="fa fa-warning"></i> Base de datos sin registros!</p>
        {% endif %}
</div>

    {% else %}
        <div class="alert alert-danger" role="alert">
            Acceso negado. Logar o crear usuário.
        </div>
    {% endif %}

{% endblock content %}
