{% extends 'base.html' %}

{% load leaflet_tags %}

{% load static %}

{% block js %}
    {% leaflet_js %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
{% endblock %}

{% block css %}
    {% leaflet_css %}
{% endblock %}

{% block content %}
<style>
    #map-detail {
        width: 100%;
        height: 100%;
    }
</style>
<div class="row">
        <a  role="button" class="btn navbar-btn btn-success btn-lg" href="{% url 'bioblitz:project_detail' pk=project_pk %}">
            <span class="align-middle">Volver</span></a>
        &nbsp; <h1>Detalles del Bioblitz: {{ project_name|safe }}</h1>
</div>
<div class = "jumbotron">

    <div class = "container-fluid">
        <div class="accordion" id="accordionExample">
            <div class="card ">
                <div class="card-header" id="collapseThree">
                    <h3 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                            Distribución observaciones
                        </button>
                    </h3>
                </div>
                    <div id="collapseThree" class="collapse show" aria-labelledby="collapseThree" data-parent="#accordionExample">
                        <div class="card-body" style="height: 30rem;">
                            <div class="embed-responsive embed-responsive-16by9">
                                        <iframe id="embed-responsive-item" frameborder = 0 target="_blank" src="https://www.inaturalist.org/observations/map?project_id={{ project_id }}#8/-27.8/-55">
                                        </iframe>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="card ">
                <div class="card-header" id="headingOne">
                    <h3 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Estadísticas de observaciones
                        </button>
                    </h3>
                </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="row row-cols-2">

                                  <div class="col">
                                      <div class="jumbotron">
                                        <h3>Observaciones por grado de calidad</h3>
                                        <div id="container">
                                          <canvas id="ObsQGrade"></canvas>
                                        </div>
                                      </div>
                                  </div>

                                  <div class="col">
                                      <div class="jumbotron">
                                        <h3>Observaciones por ranking</h3>
                                        <div id="container">
                                          <canvas id="ObsRank"></canvas>
                                        </div>
                                      </div>
                                  </div>

                                  <div class="col">
                                      <div class="jumbotron">
                                        <h3>Observaciones por Iconic Taxon Name</h3>
                                        <div id="container">
                                          <canvas id="ObsITName"></canvas>
                                        </div>
                                      </div>
                                  </div>
                                  <div class="col">
                                      <div class="jumbotron">
                                        <h3>Observaciones por usuario</h3>
                                        <div id="container">
                                          <canvas id="ObsUser"></canvas>
                                        </div>
                                      </div>
                                     </div>
                                </div>


                        </div>
                    </div>
            </div>
            <div class="card ">
                <div class="card-header" id="headingTwo">
                    <h3 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                            Estadísticas de Species
                        </button>
                    </h3>
                </div>
                    <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="row row-cols-2">

                                  <div class="col">
                                      <div class="jumbotron">
                                        <h3>Observaciones por grado de calidad</h3>
                                        <div id="container">
                                          <canvas id="SppQGrade"></canvas>
                                        </div>
                                      </div>
                                  </div>

                                  <div class="col">
                                      <div class="jumbotron">
                                        <h3>Observaciones por ranking</h3>
                                        <div id="container">
                                          <canvas id="SppRank"></canvas>
                                        </div>
                                      </div>
                                  </div>

                                  <div class="col">
                                      <div class="jumbotron">
                                        <h3>Observaciones por Iconic Taxon Name</h3>
                                        <div id="container">
                                          <canvas id="SppITName"></canvas>
                                        </div>
                                      </div>
                                  </div>
                                  <div class="col">
                                      <div class="jumbotron">
                                        <h3>Observaciones por usuario</h3>
                                        <div id="container">
                                          <canvas id="SppUser"></canvas>
                                        </div>
                                      </div>
                                     </div>
                                </div>


                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>


<script>

<!--Charts-->
    var configObsQGrade = {
      type: 'pie',
      data: {
        datasets: [{
          data: {{ data.ObsQGrade|safe }},
          backgroundColor: [
            '#e41a1c', '#377eb8', '#4daf4a', '#984ea3', '#ff7f00', '#ffff33', '#a65628', '#f781bf', '#999999'
          ],
          label: 'group'
        }],
        labels: {{ labels.ObsQGrade|safe }}
      },
      options: {
        responsive: true
      }
    };

   var configObsRank = {
      type: 'doughnut',
      data: {
        datasets: [{
          data: {{ data.ObsRank|safe }},
          backgroundColor: [
            '#e41a1c', '#377eb8', '#4daf4a', '#984ea3', '#ff7f00', '#ffff33', '#a65628', '#f781bf', '#999999'
          ],
          label: 'Group'
        }],
        labels: {{ labels.ObsRank|safe }}
      },
      options: {
        responsive: true
      }
    };

    var configObsITName = {
      type: 'doughnut',
      data: {
        datasets: [{
          data: {{ data.ObsITName|safe }},
          backgroundColor: [
            '#e41a1c', '#377eb8', '#4daf4a', '#984ea3', '#ff7f00', '#ffff33', '#a65628', '#f781bf', '#999999'
          ],
          label: 'Group'
        }],
        labels: {{ labels.ObsITName|safe }}
      },
      options: {
        responsive: true
      }
    };

    var configObsUser = {
      type: 'bar',
      data: {
        datasets: [{
          data: {{ data.ObsUser|safe }},
          backgroundColor: [
            '#e41a1c', '#377eb8', '#4daf4a', '#984ea3', '#ff7f00', '#ffff33', '#a65628', '#f781bf', '#999999'
          ],
          label: 'Group'
        }],
        labels: {{ labels.ObsUser|safe }}
      },
      options: {
        responsive: true
      }
    };


var configSppQGrade = {
      type: 'pie',
      data: {
        datasets: [{
          data: {{ data.SppQGrade|safe }},
          backgroundColor: [
            '#e41a1c', '#377eb8', '#4daf4a', '#984ea3', '#ff7f00', '#ffff33', '#a65628', '#f781bf', '#999999'
          ],
          label: 'group'
        }],
        labels: {{ labels.SppQGrade|safe }}
      },
      options: {
        responsive: true
      }
    };

   var configSppRank = {
      type: 'doughnut',
      data: {
        datasets: [{
          data: {{ data.SppRank|safe }},
          backgroundColor: [
            '#e41a1c', '#377eb8', '#4daf4a', '#984ea3', '#ff7f00', '#ffff33', '#a65628', '#f781bf', '#999999'
          ],
          label: 'Group'
        }],
        labels: {{ labels.SppRank|safe }}
      },
      options: {
        responsive: true
      }
    };

    var configSppITName = {
      type: 'doughnut',
      data: {
        datasets: [{
          data: {{ data.SppITName|safe }},
          backgroundColor: [
            '#e41a1c', '#377eb8', '#4daf4a', '#984ea3', '#ff7f00', '#ffff33', '#a65628', '#f781bf', '#999999'
          ],
          label: 'Group'
        }],
        labels: {{ labels.SppITName|safe }}
      },
      options: {
        responsive: true
      }
    };

    var configSppUser = {
      type: 'bar',
      data: {
        datasets: [{
          data: {{ data.SppUser|safe }},
          backgroundColor: [
            '#e41a1c', '#377eb8', '#4daf4a', '#984ea3', '#ff7f00', '#ffff33', '#a65628', '#f781bf', '#999999'
          ],
          label: 'Group'
        }],
        labels: {{ labels.SppUser|safe }}
      },
      options: {
        responsive: true
      }
    };


    window.onload = function() {

      var ctxObsQGrade = document.getElementById('ObsQGrade').getContext('2d');
      window.ObsQGrade = new Chart(ctxObsQGrade, configObsQGrade);

      var ctxObsRank = document.getElementById('ObsRank').getContext('2d');
      window.ObsRank = new Chart(ObsRank, configObsRank);

      var ctxObsITName = document.getElementById('ObsITName').getContext('2d');
      window.ObsITName = new Chart(ctxObsITName, configObsITName);

      var ctxObsUser = document.getElementById('ObsUser').getContext('2d');
      window.ObsUser = new Chart(ctxObsUser, configObsUser);

      var ctxSppQGrade = document.getElementById('SppQGrade').getContext('2d');
      window.SppQGrade = new Chart(ctxSppQGrade, configSppQGrade);

      var ctxSppRank = document.getElementById('SppRank').getContext('2d');
      window.SppRank = new Chart(SppRank, configSppRank);

      var ctxSppITName = document.getElementById('SppITName').getContext('2d');
      window.SppITName = new Chart(ctxSppITName, configSppITName);

      var ctxSppUser = document.getElementById('SppUser').getContext('2d');
      window.SppUser = new Chart(ctxSppUser, configSppUser);
    };

  </script>

{% endblock %}