{% extends "base.html" %}

{% load leaflet_tags %}

{% load static %}

{% block js %}
    {% leaflet_js %}
{% endblock %}

{% block css %}
    {% leaflet_css %}
{% endblock %}

{% block content %}
<style>
    #map-detail {
        width: 100%;
        height: 100%;
    }
</style>

{% if messages %}
            {% for message in messages %}
                    <div class="alert alert-success" role="alert">
                        <p>{{ message }}</p>
                    </div>
            {% endfor %}
{% endif %}


<br>
<div class="row">
    <a  role="button" class="btn btn-success btn-lg" href="{% url 'bioblitz:list_bioblitz' %}">
        <span class="align-middle">Volver</span>
    </a>
    &nbsp; <h1>Detalles del Bioblitz: {{ project.title }}</h1>
</div>
<div class="row">
<div class="col-sm-4">
    <table class = "table table-user-information">
        <tbody>
        <tr>
            <th class="text-right"><strong>id:</strong></th>
            <td> {{ project.pk }}</td>
        <tr>
            <th class="text-right">Nombre del proyecto</th>
            <td>{{ project.title }}</td>
        </tr>
        <tr>

            <th class="text-right">ID del proyecto</th>
            <td>{{ project.project_id }}</td>
        </tr>

            <th class="text-right">Fecha de creación</th>
            <td>{{ project.created_at }}</td>
        </tr>

            <th class="text-right">Descripción</th>
            <td>{{ project.description }}</td>
        </tr>

            <th class="text-right">Tipo de proyecto</th>
            <td>{{ project.project_type }}</td>
        </tr>

            <th class="text-right">Administrador</th>
            <td>{{ project.manager_name }}</td>
        </tr>

        </tbody>
    </table>
    {% if project.project_occurrences %}
        <a  role="button" class="btn navbar-btn btn-warning" href="{% url 'bioblitz:get_occurrences' project_id=project.project_id %}">Descargar observaciones</a>
    {% endif %}
    <a  role="button" class="btn navbar-btn btn-success" href="{% url 'bioblitz:list_occurrences' pk=project.pk %}">Listar observaciones</a>
    <a  role="button" class="btn navbar-btn btn-dark" href="{% url 'bioblitz:project_stats' pk=project.pk %}">Estadísticas</a>
    </div>

<div class="col-sm-8">
    <div id="map-detail">
        {% leaflet_map "map-detail" %}
    </div>
</div>
<!--todo limitar ocorrencias por projeto-->
    <script>
      var dataurl = '{% url "bioblitz:project_geojson" %}';

      window.addEventListener("map:init", function (event) {
        var map = event.detail.map;
        // Download GeoJSON data with Ajax
        fetch(dataurl)
          .then(function(resp) {
            return resp.json();
          })
          .then(function(data) {
            L.geoJson(data, {
              onEachFeature: function onEachFeature(feature, layer) {
                var props = feature.properties.popup_content;
                layer.bindPopup(props);
            }}).addTo(map);
          });
      });

    </script>


{% endblock content %}
