<!-- TODO poner mapa en fullscreen-->
{% extends 'base.html' %}
{% load leaflet_tags %}
{% load static %}
{% block js %}
    {% leaflet_js %}
{% endblock %}
{% block css %}
    {% leaflet_css %}
{% endblock %}
{% block content %}
<div class = "col">
  <div class = "container-fluid">
    <div class = "jumbotron">

    <script>
      var dataurl = '{% url "imibio_tree_ecological_data:data" %}';

      window.addEventListener("map:init", function (event) {
        var map = event.detail.map;
        // Download GeoJSON data with Ajax
        fetch(dataurl)
          .then(function(resp) {
            return resp.json();
          })
          .then(function(data) {
            L.geoJson(data, {
              onEachFeature: function onEachFeature(feature, layer) {
                var props = feature.properties.popup_content;
                layer.bindPopup(props);
            }}).addTo(map);
          });
      });

    </script>
    <script type="application/javascript" src="{% static 'js/map.js' %}"></script>

    {% leaflet_map "main" %}
    </div>
  </div>
{% endblock %}