{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <h2>Agregar datos ecológicos de species arbóreas</h2>
        {% if messages %}
        {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="alert alert-danger" role="alert">
            <p>{{ message }}</p>
        </div>
        {% else %}
        <div class="alert alert-success" role="alert">
            <p>{{ message }}</p>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        <div class="accordion" id="accordionExample">
            <form method="POST" action="." class="post-form">
                {% csrf_token %}
                {% if form.non_field_errors %}
                <div class="alert alert-warning" role="alert">
                    {{ form.non_field_errors }}
                </div>
                {% endif %}
                <div class="card ">
                    <div class="card-header" id="headingOne">
                        <h3 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                                    aria-expanded="true" aria-controls="collapseOne">
                                Datos generales
                            </button>
                        </h3>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                         data-parent="#accordionExample">
                        <div class="card-body">
                            <h5>Obligatórios</h5>
                            <p>
                                <label for="{{ fieldForm.date.id_for_label }}"> {{ fieldForm.date.label }} </label>
                                {% for error in fieldForm.date.errors %}
                            <div class="alert alert-warning" role="alert">
                                {{ error }}
                            </div>
                            {% endfor %}
                            {{ fieldForm.date }} {{ fieldForm.date.help_text }}
                            <!--                  todo fechar isso-->
                            </p>
                            <p>
                                <label for="{{ form.start_time.id_for_label }}"> {{ form.start_time.label }} </label>
                                {% for error in form.start_time.errors %}
                            <div class="alert alert-warning" role="alert">
                                {{ error }}
                            </div>
                            {% endfor %}
                            {{ form.start_time }} {{ form.start_time.help_text }}
                            </p>
                            <p>
                                <label for="{{ form.end_time.id_for_label }}"> {{ form.end_time.label }} </label>
                                {% for error in form.end_time.errors %}
                            <div class="alert alert-warning" role="alert">
                                {{ error }}
                            </div>
                            {% endfor %}
                            {{ form.end_time }} {{ form.end_time.help_text }}
                            </p>
                            <p>
                                <label for="{{ form.temperatur.id_for_label }}"> {{ form.temperature.label }} </label>
                                {% for error in form.temperature.errors %}
                            <div class="alert alert-warning" role="alert">
                                {{ error }}
                            </div>
                            {% endfor %}
                            {{ form.temperature }} {{ form.temperature.help_text }}
                            </p>
                            <p>
                                <label for="{{ form.humidity.id_for_label }}"> {{ form.humidity.label }} </label>
                                {% for error in form.humididty.errors %}
                            <div class="alert alert-warning" role="alert">
                                {{ error }}
                            </div>
                            {% endfor %}
                            {{ form.humidity }} {{ form.humidity.help_text }}
                            </p>
                            <p>
                                <label for="{{ form.coordinator.id_for_label }}"> {{ form.coordinator.label }} </label>
                                {% for error in form.coordinator.errors %}
                            <div class="alert alert-warning" role="alert">
                                {{ error }}
                            </div>
                            {% endfor %}
                            {{ form.coordinator }}
                            </p>
                            <p>
                                <label for="{{ form.staff.id_for_label }}"> {{ form.staff.label }} </label>
                                {% for error in form.staff.errors %}
                            <div class="alert alert-warning" role="alert">
                                {{ error }}
                            </div>
                            {% endfor %}
                            {{ form.staff }}
                            </p>
                            <p>
                                <label for="{{ form.parcel_id.id_for_label }}"> {{ form.parcel_id.label }} </label>
                                {% for error in form.parcel_id.errors %}
                            <div class="alert alert-warning" role="alert">
                                {{ error }}
                            </div>
                            {% endfor %}
                            {{ form.parcel_id }}
                            </p>

                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h3 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Datos de los árboles
                            </button>
                        </h3>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                         data-parent="#accordionExample">
                        <div class="card-body">
                            <h5>Obligatórios</h5>
                            <p>
                                <label for="{{ form.tree_id.id_for_label }}"> {{ form.tree_id.label }} </label>
                                {% for error in form.tree_id.errors %}
                            <div class="alert alert-warning" role="alert">
                                {{ error }}
                            </div>
                            {% endfor %}
                            {{ form.tree_id }}
                            </p>
                            <p>
                                <label for="{{ form.specie.id_for_label }}"> {{ form.specie.label }} </label>
                                {% for error in form.specie.errors %}
                            <div class="alert alert-warning" role="alert">
                                {{ error }}
                            </div>
                            {% endfor %}
                            {{ form.specie }}
                            </p>
                            <p>
                                <label for="{{ form.dap.id_for_label }}"> {{ form.dap.label }} </label>
                                {% for error in form.dap.errors %}
                            <div class="alert alert-warning" role="alert">
                                {{ error }}
                            </div>
                            {% endfor %}
                            {{ form.dap }} {{ form.dap.help_text }}
                            </p>
                            <p>
                                <label for="{{ form.dab.id_for_label }}"> {{ form.dab.label }} </label>
                                {% for error in form.dab.errors %}
                            <div class="alert alert-warning" role="alert">
                                {{ error }}
                            </div>
                            {% endfor %}
                            {{ form.dab }} {{ form.dab.help_text }}
                            </p>
                            <p>
                                <label for="{{ form.tree_height.id_for_label }}"> {{ form.tree_height.label }} </label>
                                {% for error in form.tree_height.errors %}
                            <div class="alert alert-warning" role="alert">
                                {{ error }}
                            </div>
                            {% endfor %}
                            {{ form.tree_height }} {{ form.tree_height.help_text }}
                            </p>
                            <p>
                                <label for="{{ form.latitude.id_for_label }}"> {{ form.latitude.label }} </label>
                                {% for error in form.latitude.errors %}
                            <div class="alert alert-warning" role="alert">
                                {{ error }}
                            </div>
                            {% endfor %}
                            {{ form.latitude }}
                            </p>
                            <p>
                                <label for="{{ form.longitude.id_for_label }}"> {{ form.longitude.label }} </label>
                                {% for error in form.longitude.errors %}
                            <div class="alert alert-warning" role="alert">
                                {{ error }}
                            </div>
                            {% endfor %}
                            {{ form.longitude }}
                            </p>
                            <p>
                                <label for="{{ form.photo.id_for_label }}"> {{ form.photo.label }} </label>
                                {% for error in form.photo.errors %}
                            <div class="alert alert-warning" role="alert">
                                {{ error }}
                            </div>
                            {% endfor %}
                            {{ form.photo }} {{ form.photo.help_text }}
                            </p>
                            <p>
                                <label for="{{ form.obs.id_for_label }}"> {{ form.obs.label }} </label>
                                {% for error in form.obs.errors %}
                            <div class="alert alert-warning" role="alert">
                                {{ error }}
                            </div>
                            {% endfor %}
                            {{ form.obs }}
                            </p>
                            <p>
                                <label for="{{ form.tree_status.id_for_label }}"> {{ form.tree_status.label }} </label>
                                {% for error in form.tree_status.errors %}
                            <div class="alert alert-warning" role="alert">
                                {{ error }}
                            </div>
                            {% endfor %}
                            {{ form.tree_status }}
                            </p>
                            <p>
                                <label for="{{ form.life_form.id_for_label }}"> {{ form.life_form.label }} </label>
                                {% for error in form.life_form.errors %}
                            <div class="alert alert-warning" role="alert">
                                {{ error }}
                            </div>
                            {% endfor %}
                            {{ form.life_form }}
                            </p>
                            <p>
                                <label for="{{ form.sociological_classification.id_for_label }}"> {{
                                    form.sociological_classification.label }} </label>
                                {% for error in form.sociological_classification.errors %}
                            <div class="alert alert-warning" role="alert">
                                {{ error }}
                            </div>
                            {% endfor %}
                            {{ form.sociological_classification }}
                            </p>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-success">Guardar</button>

            </form>
        </div>
    </div>
</div>

{% endblock %}