<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <span class="navbar-brand disabled">
        <img src="http://imibio.misiones.gob.ar/logoblancochico.png" style="height: 40px; width: auto;" alt="">
    </span>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <li class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}"> Início <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Datos SNDB</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item disabled" href="">
                        <i class="fa fa-pagelines"></i> Lista ocurrencias</a>
                    <a class="dropdown-item disabled" href="">
                        <i class="fa fa-globe"></i> Mapa ocurrencias</a>
                    <a class="dropdown-item disabled" href="#">
                        <i class="fa fa-bar-chart"></i> Estadísticas</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="dropdown01" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Datos IMiBio</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <!--<a class="dropdown-item" href="<{% url 'imibio_occurrences:new' %}"> Agregar ocurencia</a>
                    <a class="dropdown-item" href="{% url 'imibio_tree_ecological_data:new' %}"> Agregar datos ecologicos arboreas</a>-->
                    <a class="dropdown-item disabled" href="">Mapa Ocurrencias</a>
                    <a class="dropdown-item disabled" href="">Estadísticas</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="bioblitz" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">Datos Bioblitz</a>
                <div class="dropdown-menu" aria-labelledby="bioblitz">
                    <a class="dropdown-item" href="{% url 'bioblitz:register_bioblitz_project' %}">
                        <i class="fa fa-plus"></i> Registrar proyecto</a>
                    <a class="dropdown-item" href="{% url 'bioblitz:list_bioblitz_projects' %}">
                        <i class="fa fa-book"></i> Lista de proyectos de Bioblitz</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="bibliografia" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Bibliografía</a>
                <div class="dropdown-menu" aria-labelledby="bibliografia">
                    <a class="dropdown-item " href="{% url 'bibliography:publication_new' %}">
                        <i class="fa fa-plus"></i> Agregar Bibliografía</a>
                    <a class="dropdown-item " href="{% url 'bibliography:publication_list' %}">
                        <i class="fa fa-book"></i> Lista de Bibliografías</a>
                </div>
            </li>
        </ul>
        <!--<form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </for\m>-->
        <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}

            {% if user.is_superuser %}
                  <li class="nav-item">
                    <a role="button" class="btn btn-warning" href="{% url 'signup' %}"> Crear usuario </a>
                  </li>
                  <li class="nav-item">' '</li>

                {% endif %}

            <li class="nav-item">
                <a role="button" class="btn btn-danger" href="{% url 'logout' %}">
                    <span></span><span class="fa fa-sign-in"></span> Salir </a>
            </li>



            {% else %}
            <li class="nav-item">
                <a  role="button" class="btn navbar-btn btn-success" href="{% url 'login' %}">
                    <span class="fa fa-user"></span> Login </a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>