{% extends 'base.html' %}

{% load leaflet_tags %}

{% load static %}

{% block js %}
{% leaflet_js %}
{% endblock %}

{% block css %}
{% leaflet_css %}
{% endblock %}

{% block content %}

<style>
    #map-detail {
        width: 100%;
        height: 100%;
    }

</style>

{% if messages %}
{% for message in messages %}
<div class="alert alert-success" role="alert">
    <p>{{ message }}</p>
</div>
{% endfor %}
{% endif %}


<br>
<a role="button" class="btn navbar-btn btn-success" href="{% url 'bibliography:publication_list' %}">Volver a lista</a>
<a role="button" class="btn navbar-btn btn-warning" href="{% url 'bibliography:publication_edit' pk=publication.pk %}">Editar</a>
<br>

<h1>Titulo: {{ publication.title }}</h1>
<div class="row">
    <div class="col-sm-4">
        <table class="table table-user-information">
            <tbody>
            <tr>
                <th class="text-right">Autor principal:</th>
                <td>{{ publication.author }}</td>
            </tr>
            <tr>
                <th class="text-right">Año de publicación:</th>
                <td>{{ publication.publication_year }}</td>
            </tr>
            <tr>
                <th class="text-right">Participación de IMIBIO:</th>
                <td>{{ publication.imibio|yesno:"Si,No" }}</td>
            </tr>
            {% if publication.DOI %}
            <tr>
                <th class="text-right">DOI:</th>
                <td>{{ publication.DOI }}</td>
            </tr>
            {% endif %}

            {% if publication.ISBN %}
            <tr>
                <th class="text-right">ISBN:</th>
                <td>{{ publication.ISBN }}</td>
            </tr>
            {% endif %}

            <tr>
                <th class="text-right">Temas o palabras clave:</th>
                <td>{{ publication.subject }}</td>
            </tr>
            {% if publication.URL %}
            <tr>
                <th class="text-right">URL:</th>
                <td><a href="{{ publication.URL }}">{{ publication.URL }}</a></td>
            </tr>
            {% endif %}
            {% if publication.observations %}
            <tr>
                <th class="text-right">Observaciones:</th>
                <td><p>{{ publication.observations }}</p></td>
            </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
    <div class="col-sm-8">
        <div id="map-detail">
            {% leaflet_map "map-detail" %}
        </div>
    </div>
</div>
<br>
<p></p>
<div class="row">
    <div class="col">
        <div class="jumbotron">
        {% if  not species_list  %}
            <a role="button" class="btn navbar-btn btn-dark" href="{% url 'bibliography:specieslist_new' pk=publication.pk %}">Agregar Lista de especies</a>
        {% else %}
            <h2>Lista de especies</h2>
            <table class='table table-striped'>
                <thead>
                <tr>
                    <th>Nombre científico</th>
                    <th>otras columnas</th>
                </tr>
                </thead>

                {% for specie in species_list %}
                <tr>
                    <td>
                        {{ specie.scientific_name }}</a>
                    </td>
                    <td>
                        {{ specie.other_fields_json}}
                    </td>
                </tr>
                {% endfor %}

            </table>
        {% endif %}
        </div>
    </div>

    <div class="col">
        <div style="background:darkgrey" class="jumbotron">
        {% if  not occurrence_list  %}
            <a role="button" class="btn navbar-btn btn-dark" href="{% url 'bibliography:occurrenceslist_new' pk=publication.pk %}">Agregar lista de ocurrencias</a>
        {% else %}
            <h2>Lista de occurrencias</h2>

            <table class='table table-striped'>
                <tbody>
                <tr>
                    <th>Nombre científico</th>
                    <th>Longitud</th>
                    <th>Latitud</th>
                    <th>otras columnas</th>
                </tr>
                {% for occurrence in occurrence_list %}
                <tr>
                    <td>
                        {{ occurrence.scientific_name }}</a>
                    </td>
                    <td>
                        {{ occurrence.longitude }}</a>
                    </td>
                    <td>
                        {{ occurrence.latitude }}</a>
                    </td>
                    <td>
                        {{ occurrence.other_fields_json}}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
        </div>
    </div>

</div>
<script>
      var dataurl = '{% url "bibliography:publication_occurrenceslist_geojson" pk=publication.pk%}';
      window.addEventListener("map:init", function (event) {
        var map = event.detail.map;
        // Download GeoJSON data with Ajax
        fetch(dataurl)
          .then(function(resp) {
            return resp.json();
          })
          .then(function(data) {
            L.geoJson(data, {
              onEachFeature: function onEachFeature(feature, layer) {
                var props = feature.properties.popup_content;
                layer.bindPopup(props);
            }}).addTo(map);
          });
      });


</script>

{% endblock content %}
