{% extends 'base.html' %}

{% block content %}
<br>
<div class="row">
    <div class="col-sm">
        <form method="get">
            {{ filter.form }}
            <button type="button" class="btn btn-primary"> Filtrar </button>
        </form>
    </div>
    <div class="col-sm">
        <a role="button" class="btn navbar-btn btn-secondary fa fa-map-marker" aria-hidden="true" href="{% url 'bibliography:map_all_publication_occurrenceslist' %}">Mapa Ocurrencias</a>
    </div>
</div>
<br>
<table class = 'table table-striped'>
    <thead>
    <tr>
        <th>Título</th>
        <th>AÑO</th>
        <th>CONTRIBUCIÓN IMIBIO </th>
        <th>TIPO</th>
    </tr>
    </thead>

    {% for publication in filter.qs %}

     <tr>
         <td>
             <a href="{% url 'bibliography:publication_detail' pk=publication.pk %}"style="color:black;">{{ publication.title }}</a>
         </td>
         <td>
             {{ publication.publication_year}}
         </td>
         <td>
             {{ publication.imibio|yesno:"Si,No" }}
         </td>
         <td>
             {% if publication.DOI %}
                Articulo
             {% else %}
                Libro
             {% endif %}
         </td>
     </tr>
{% endfor %}
        </table>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a  role="button" class="btn navbar-btn btn-dark btn-sm"   <a href="?page=1"> Primera</a>
        <a  role="button" class="btn navbar-btn btn-dark btn-sm" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
        <a  role="button" class="btn navbar-btn btn-dark btn-sm" <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
        <a  role="button" class="btn navbar-btn btn-dark btn-sm"  <a href="?page={{ page_obj.paginator.num_pages }}">Ultima</a>
        {% endif %}
    </span>
</div>

{% endblock %}