
{% extends 'base.html' %}
<!--comentarios-->
 {% block content %}


    <table class = 'table table-striped'>
                <thead>
                <tr>
                    <th>Bibliografías</th>
                    <th>Especie</th>


                </tr>

                </thead>
    {% for specieslist in species %}
        <tr>
            <td>
                <a href="{% url 'bibliography:species_detail' pk=specieslist.pk %}"style="color:black;">{{ specieslist.bibliography }}</a>
            </td>
            <td>
                 {{specieslist.scientific_name}}
            </td>
            <td>

            </td>
            <td>

            </td>
        </tr>
    {% endfor %}
 </table>









 {% endblock %}
